.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
}

.menu-text {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
}

.header__links-list {
  display: flex;
  gap: 33px;
  text-underline-offset: 4px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.address {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 700px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 110px;
  margin-top: 107px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  padding: 12px 32px 14px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  padding: 4px 0 3px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 2px 0 1px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin: 0 24px 180px;
}

.about__column-left {
  justify-self: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__column-right {
  padding: 136px 5px 0 25px;
}

.about__title {
  margin-bottom: 100px;
  padding: 4px 0 3px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1px 50px 82px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  text-underline-offset: 4px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 3px;
  text-underline-offset: 3px;
  list-style: none;
}

.footer__menu-link {
  display: block;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
